<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Edit User</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #userForm="ngForm" (ngSubmit)="editUser(userForm.value)">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]="user.firstName" placeholder='Enter first Name' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="description" type="text" [(ngModel)]="user.lastName" placeholder='Enter menu lastName' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="price" type="number" [(ngModel)]="user.telNumber" placeholder='Enter menu tel number' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="email" type="text" [(ngModel)]="user.email" placeholder='Enter menu email' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="password" type="text" [(ngModel)]="user.password" placeholder='Enter menu password' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="confirmPassword" type="text" [(ngModel)]="user.confirmPassword" placeholder='Enter menu password' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>