<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Edit Menu</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #menuForm="ngForm" (ngSubmit)="editMenu(menuForm.value)">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]="menu.name" placeholder='Enter Menu Name' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="description" type="text" [(ngModel)]="menu.description" placeholder='Enter menu description' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="price" type="number" [(ngModel)]="menu.price" placeholder='Enter menu price' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="image" type="text" [(ngModel)]="menu.img" placeholder='Enter menu image' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">editMenu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>