<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Add Chef</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #chefForm="ngForm" (ngSubmit)="addChef()">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]="ch.name" placeholder='Enter Name chef' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="status" type="text" [(ngModel)]="ch.status" placeholder='Enter chef status' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <button type="button" (click)='filePicker.click()' class="button button-contactForm btn_4">Selectionner Image</button>
                        <input type="file" style="visibility: hidden;" #filePicker (change)='onImageSelected($event)'>
                        <img [src]="imagePreview" alt="">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>