<div class="single_blog_item">
    <div class="single_blog_img">
        <img [src]="chef.img" alt="">
    </div>
    <div class="single_blog_text text-center">
        <h3>{{chef.name}}</h3>
        <p>{{chef.status}}</p>
        <div class="social_icon">
            <div class="align-self-center">
                <button class="btn btn-success green" (click)="displayChef(chef._id)">display</button>
                <button class="btn btn-warning green" (click)="editChef(chef._id)">edit</button>
                <button class="btn btn-danger red" (click)="deleteChef(chef._id)">delete</button>
            </div>

        </div>
    </div>
</div>