<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let p of plats">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="{{p.img}}" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>{{p.name}}</h3>
                        <p>{{p.description}} </p>
                        <p><span class="red">{{p.price}}</span>DT</p>
                        <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_2.svg" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>