<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Get in Contact</h2>
            </div>
            <div class="col-lg-12">
                <form [formGroup]="userContactForm" class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="fname" id="fname" type="text" formControlName="firstName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your first name'" placeholder='Enter your first name'>
                            </div>
                        </div>
                        <div *ngIf="userContactForm.controls['firstName'].invalid && 
                        (userContactForm.controls['firstName'].dirty || userContactForm.controls['firstName'].touched)" class="alert alert-danger">
                            <div *ngIf="userContactForm.controls['firstName'].errors.required">
                                FisrtName is required.
                            </div>
                            <div *ngIf="userContactForm.controls['firstName'].errors.maxlength">
                                Max Length : 15
                            </div>
                            <div *ngIf="userContactForm.controls['firstName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="lname" id="lname" type="text" formControlName="lastName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your last name'" placeholder='Enter your last name'>
                            </div>
                        </div>
                        <div *ngIf="userContactForm.controls['lastName'].invalid && 
                        (userContactForm.controls['lastName'].dirty || userContactForm.controls['lastName'].touched)" class="alert alert-danger">
                            <div *ngIf="userContactForm.controls['lastName'].errors.required">
                                lastname is required.
                            </div>
                            <div *ngIf="userContactForm.controls['lastName'].errors.maxlength">
                                Max Length : 15
                            </div>
                            <div *ngIf="userContactForm.controls['lastName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" formControlName="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
                            </div>
                        </div>
                        <div *ngIf="userContactForm.controls['email'].invalid && 
                        (userContactForm.controls['email'].dirty || userContactForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="userContactForm.controls['email'].errors.required">
                                email is required.
                            </div>
                            <div *ngIf="userContactForm.controls['email'].errors.email">
                                Format email is not valid
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="form-control" name="telnumber" id="telnumber" type="number" formControlName="telNumber" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your telnumber'" placeholder='Enter telnumber'>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text" formControlName="subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder='Enter Subject'>
                            </div>
                        </div>
                        <div *ngIf="userContactForm.controls['subject'].invalid && 
                        (userContactForm.controls['subject'].dirty || userContactForm.controls['subject'].touched)" class="alert alert-danger">
                            <div *ngIf="userContactForm.controls['subject'].errors.required">
                                subject is required.
                            </div>
                            <div *ngIf="userContactForm.controls['subject'].errors.maxlength">
                                Max Length : 150
                            </div>
                            <div *ngIf="userContactForm.controls['subject'].errors.minlength">
                                Min Length : 50
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" formControlName="message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder='Enter Message'></textarea>
                            </div>
                        </div>7
                        <div *ngIf="userContactForm.controls['subject'].invalid && 
                        (userContactForm.controls['message'].dirty || userContactForm.controls['message'].touched)" class="alert alert-danger">
                            <div *ngIf="userContactForm.controls['message'].errors.required">
                                message is required.
                            </div>
                            <div *ngIf="userContactForm.controls['message'].errors.maxlength">
                                Max Length : 300
                            </div>
                            <div *ngIf="userContactForm.controls['message'].errors.minlength">
                                Min Length : 100
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button (click)="submitForm(userContactForm.value)" type="submit" [disabled]="userContactForm.invalid || userContactForm.pristine" class="btn btn-success">Send Message</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>