<div class="single_blog_item  margin">
    <div class="single_blog_text text-center">
        <h3>{{user?.firstName}}</h3>
        <p>{{user?.lastName}}</p>
        <p>{{user?.password}}</p>
        <p>{{user?.confirmPassword}}</p>
        <p>{{user?.email}}</p>
        <p>{{user?.telNumber}}</p>
    </div>
</div>