<div class="single_food_item media">
    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
    <div class="media-body align-self-center">
        <h3>Pork Sandwich</h3>
        <p>They're wherein heaven seed hath nothing</p>
        <h5>$40.00</h5>
    </div>

</div>