<!--::header part start::-->
<app-header></app-header>
<!-- Header part end-->



<router-outlet></router-outlet>

<!-- footer part start-->
<app-footer-area></app-footer-area>
<!-- footer part end-->