<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a class="active" id="Special-tab" data-toggle="tab" href="#Special" role="tab" aria-controls="Special" aria-selected="false">Plat <img src="assets/img/icon/play.svg"
                                alt="play"></a>
                    <a id="Breakfast-tab" data-toggle="tab" href="#Breakfast" role="tab" aria-controls="Breakfast" aria-selected="false">Chef <img src="assets/img/icon/play.svg" alt="play"></a>
                    <a id="Launch-tab" data-toggle="tab" href="#Launch" role="tab" aria-controls="Launch" aria-selected="false">User<img src="assets/img/icon/play.svg" alt="play"></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="Special" role="tabpanel" aria-labelledby="Special-tab">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <section class="food_menu gray_bg" style="margin-top: 150px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="row justify-content-between">
                                            <div class="col-lg-5">
                                                <div class="section_tittle">
                                                    <p>Popular Menu</p>
                                                    <h2>Delicious Food Menu</h2>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button class="btn btn-success" (click)="goToAddMenu()">Add Menu</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active single-member" id="Special" role="tabpanel" aria-labelledby="Special-tab">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-lg-12" *ngFor="let menu of plats">
                                                                <app-plat [p]="menu" (newPlats)="updatePlats($event)"></app-plat>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="Breakfast" role="tabpanel" aria-labelledby="Breakfast-tab">
                        <section class="chefs_part blog_item_section section_padding">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <div class="section_tittle">
                                            <p>Team Member</p>
                                            <h2>Our Experience Chefs</h2>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-success" (click)="goToAddChef()">Add Chef</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4" *ngFor="let chef of chefs">
                                        <app-chef-admin [chef]="chef" (newChefs)="updateChefs($event)"></app-chef-admin>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade single-member" id="Launch" role="tabpanel" aria-labelledby="Launch-tab">
                        <section class="chefs_part blog_item_section section_padding">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-5">
                                        <div class="section_tittle">
                                            <p>Team Member</p>
                                            <h2>Our Experience Users</h2>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-success" (click)="goToAddUser()">Add User</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4" *ngFor="let user of users">
                                        <app-user-admin [user]="user" (newUsers)=" updateUser($event)"></app-user-admin>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>