<div class="single_food_item media">
    <img [src]="p.img" class="mr-3" alt="...">
    <div class="media-body align-self-center">
        <h3>{{p.name}}</h3>
        <p>{{p.description}}</p>
        <!-- <h5 [ngStyle]="{'color': p.price > 10 ? 'red' : 'green' }">{{p.price}}</h5> -->
        <p [ngClass]="{'colorRed': p.price >10 , 'colorGreen': p.price <= 10}">{{p.price}}</p>
    </div>
    <div class="align-self-center">
        <button class="btn btn-success green" (click)="displayMenu(p._id)">display</button>
        <button class="btn btn-warning green" (click)="editMenu(p._id)">edit</button>
        <button class="btn btn-danger red" (click)="deleteMenu(p._id)">delete</button>
    </div>

</div>