<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
        </div>
        <div class="row">
            <div class="col-12">
            </div>
            <div class="col-lg-8">
                <form [formGroup]="userForm" class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="row margin">
                        <div class="col-12">
                            <h2 class="contact-title" style="text-align: center;">Sign up</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="name" formControlName="firstName" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder='Enter your Firstname'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['firstName'].invalid && 
                             (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['firstName'].errors.required">
                                FisrtName is required.
                            </div>
                            <div *ngIf="userForm.controls['firstName'].errors.maxlength">
                                Max Length : 15
                            </div>
                            <div *ngIf="userForm.controls['firstName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="lastname" id="lastname" formControlName="lastName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder='Enter your Lastname'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['lastName'].invalid && 
                        (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['lastName'].errors.required">
                                lastname is required.
                            </div>
                            <div *ngIf="userForm.controls['lastName'].errors.maxlength">
                                Max Length : 15
                            </div>
                            <div *ngIf="userForm.controls['lastName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="telNumber" id="telNumber" formControlName="telNumber" type="number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder='Enter your tel number'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" formControlName="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter email address'>
                            </div>
                            <div *ngIf="userForm.controls['email'].invalid && 
                        (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="alert alert-danger">
                                <div *ngIf="userForm.controls['email'].errors.required">
                                    email is required.
                                </div>
                                <div *ngIf="userForm.controls['email'].errors.email">
                                    Format email is not valid
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="password" id="password" formControlName="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder='Enter your password'>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userForm.controls['password'].invalid && 
                (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="alert alert-danger">
                        <div *ngIf="userForm.controls['password'].errors.required">
                            password is invalid.
                        </div>
                        <div *ngIf="userForm.controls['password'].errors.maxlength">
                            Max Length : 20
                        </div>
                        <div *ngIf="userForm.controls['password'].errors.minlength">
                            Min Length : 8
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" name="ConfirmPassword" formControlName="ConfirmPassword" id="ConfirmPassword" type="password" onfocus="this.placeholder = ''" placeholder='Enter your password'>
                        </div>
                    </div>
                    <div *ngIf="userForm.controls['ConfirmPassword'].invalid && 
                    (userForm.controls['ConfirmPassword'].dirty || userForm.controls['ConfirmPassword'].touched)" class="alert alert-danger">
                        <div *ngIf="userForm.controls['ConfirmPassword'].errors.required">
                            Confirm Password is required.
                        </div>
                        <div *ngIf="userForm.controls['ConfirmPassword'].errors.mustMatch">
                            Confirm Password does not mutch Password.
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <button (click)="submitForm(userForm.value)" type="submit" [disabled]="userForm.invalid || userForm.pristine" class="btn btn-success">Sign up</button>
                    </div>
                </form>
                <p>Form value {{userForm.value | json }}</p>
                <p>Form value {{userForm.status | json }}</p>

            </div>




        </div>
    </div>
</section>