<div class="single_blog_item">
    <div class="single_blog_img">
        <img src="assets/img/food_item/food_item_1.png" alt="">
    </div>
    <div class="single_blog_text">
        <h3>Indian Burger</h3>
        <p>Was brean shed moveth day yielding tree yielding day were female and </p>
        <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_2.svg" alt=""></a>
    </div>
</div>