<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <table class="table" style="margin-top: 100px;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">age</th>
                <th scope="col">email</th>
                <th scope="col">date of birth</th>
                <th scope="col">password</th>
            </tr>
            <tr *ngFor="let u of users" appBackground>
                <th scope="row">1</th>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td>{{u.age}}</td>
                <td>{{u.email | customEmail}}</td>
                <td>{{u.DateBirth | date: 'yyyy, dd / MM hh:mm:ss'}}</td>
                <td>{{u.password}}</td>
            </tr>
        </table>
    </div>
</section>