<div class="single_food_item media margin">
    <img [src]="plat?.img" class="mr-3" alt="...">
    <div class="media-body align-self-center margin1">
        <h3>{{plat?.name}}</h3>
        <p>{{plat?.description}}</p>
        <h5 [ngStyle]="{'color': plat?.price > 10 ? 'red' : 'green' }">{{plat?.price}}</h5>
    </div>


</div>