<div class="single_blog_item">
    <div class="single_blog_text text-center">
        <h3>{{user.firstName}}</h3>
        <p>{{user.lastName}}</p>
        <p>{{user.password}}</p>
        <p>{{user.confirmPassword}}</p>
        <p>{{user.email}}</p>
        <p>{{user.telNumber}}</p>

        <div class="social_icon">
            <div class="align-self-center">
                <button class="btn btn-success green" (click)="displayUser(user.id)">display</button>
                <button class="btn btn-warning green" (click)="editUser(user.id)">edit</button>
                <button class="btn btn-danger red" (click)="deleteUser(user.id)">delete</button>
            </div>

        </div>
    </div>
</div>