<!-- banner part start-->
<app-banner></app-banner>
<!-- banner part start-->

<!--::exclusive_item_part start::-->
<app-exclusive></app-exclusive>
<!--::exclusive_item_part end::-->

<!-- about part start-->
<app-about></app-about>
<!-- about part end-->

<!-- intro_video_bg start-->
<app-intro-video-bg></app-intro-video-bg>
<!-- intro_video_bg part start-->

<!-- food_menu start-->
<app-food-menu></app-food-menu>
<!-- food_menu part end-->
<!--::chefs_part start::-->
<app-chefs-part></app-chefs-part>
<!--::chefs_part end::-->

<!--::regervation_part start::-->
<app-regervation-part></app-regervation-part>
<!--::regervation_part end::-->

<!--::review_part start::-->
<app-review-part></app-review-part>
<!--::review_part end::-->

<!--::exclusive_item_part start::-->
<app-exclusive-item-part></app-exclusive-item-part>
<!--::exclusive_item_part end::-->