<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Edit Chef</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #chefForm="ngForm" (ngSubmit)="editChef(chefForm.value)">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]="ch.name" placeholder='Enter Name chef' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="status" type="text" [(ngModel)]="ch.status" placeholder='Enter chef status' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="image" type="text" [(ngModel)]="ch.img" placeholder='Enter menu image' [ngModelOptions]="{standalone:true}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>