<div class="single_food_item media margin">
    <img [src]="chef?.img" class="mr-3" alt="...">
    <div class="media-body align-self-center margin1">
        <h3>{{chef?.name}}</h3>
        <p>{{chef?.status}}</p>
    </div>
</div>